main {
    padding: 5px;
}
body {
    background-color: #999999;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}
img {
    border-radius: 50%;
    width: 150px;
    margin: 10px;
}
label {
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}
form {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #999999;
}
button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
input, textarea, button {
    padding: 8px;
    font-size: 1em;
    border-color: black;
}

input,textarea{
    background-color: #999999;
}
button:hover {
    background-color: #555;
}
h1,h2{
    text-align: center;
    color: black;
}
.dos-imagenes {
    gap: 5px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #1C1D1F;
    padding: 20px;
}
p,ul {
    font-size: 18px;
    line-height: 1.5em;
    color: #1C1D1F;
}
#inicio,#final1,#final2{
    color:white;
}
.una-imagen {
    display: flex;
    justify-content: center;
    padding: 20px;
}
